    <div id="appModalOverlay" class="app-modal-overlay" hidden>
      <div class="app-modal-dialog" role="dialog" aria-modal="true" aria-labelledby="appModalTitle">
        <div class="app-modal-brand" aria-hidden="true">
          <img src="/static/leco-logo-mark.svg" alt="" width="28" height="28" />
          <span>LEco DevOps</span>
        </div>
        <div class="app-modal-inner">
          <h3 id="appModalTitle" class="app-modal-title">Confirm</h3>
          <div id="appModalMessage" class="app-modal-message"></div>
          <div class="app-modal-bar">
            <button type="button" id="appModalCancel" class="ctrl-overlay-btn ctrl-overlay-btn--caution">Cancel</button>
            <button type="button" id="appModalPrimary" class="ctrl-overlay-btn ctrl-overlay-btn--ops">Continue</button>
          </div>
        </div>
      </div>
    </div>
